
venv/
.env/


__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/


.ipynb_checkpoints/


spark-warehouse/
metastore_db/


data/raw/*.csv
data/raw/


*.log


.DS_Store
Thumbs.db


.vscode/
.idea/


config/postgres_connection.txt
